doctype html
html
  title Log analysis
  head
    style(type='text/css').
      <!--
      .div4analysisbtn{
      text-align:center;
      font-size:30px;
      color:#83AF9B;
      }
      .div4welcome{
      margin: 50px 0px 0px 20px;
      text-align:center;
      font-size:100px;
      color:#83AF9B;
      }
      .div4input{
      text-align:center;
      }
      .div4ahref{
      margin: 10px 0px 0px 10px;
      text-align:center;
      color:#D8D8D8;
      }
      a:link {color: #A4A4A4; font-size: 9pt}
      a:visited {color : #A4A4A4; font-size: 9pt}
      a:hover {color : black; font-size: 9pt}
      a:active {color : #A4A4A4; font-size: 9pt}
      //-->
    link(href='https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js')
    script(type='text/javascript').
      onReady('#chart', function() {
      var chart = c3.generate({
      data: {
      x: 'x',
      xFormat: '%H:%M',
      columns: [
      ['x', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00',
      '10:00', '11:00', '12:00', '13:00', '14:00', '15:00','16:00', '17:00', '18:00', '19:00', '20:00',
      '21:00', '22:00', '23:00'],
      ['#{data[0]._id.date}', #{data[0].count}, #{data[1].count}, #{data[2].count}, #{data[3].count},
      #{data[4].count}, #{data[5].count}, #{data[6].count}, #{data[7].count},#{data[8].count}, 
      #{data[9].count}, #{data[10].count}, #{data[11].count}, #{data[12].count}, #{data[13].count},
      #{data[14].count}, #{data[15].count},#{data[16].count}, #{data[17].count}, #{data[18].count}, 
      #{data[19].count}, #{data[20].count}, #{data[21].count}, #{data[22].count}, #{data[23].count}
      ],
      ['#{data[24]._id.date}', #{data[24].count}, #{data[25].count}, #{data[26].count}, #{data[27].count},
      #{data[28].count}, #{data[29].count}, #{data[30].count}, #{data[31].count},#{data[32].count}, 
      #{data[33].count}, #{data[34].count}, #{data[35].count}, #{data[36].count}, #{data[37].count},
      #{data[38].count}, #{data[39].count}, #{data[40].count}, #{data[41].count}, #{data[42].count}, 
      #{data[43].count}, #{data[44].count}, #{data[45].count}, #{data[46].count}, #{data[47].count}
      ],
      ['#{data[48]._id.date}', #{data[48].count}, #{data[49].count}, #{data[50].count}, #{data[51].count},
      #{data[52].count}, #{data[53].count}, #{data[54].count}, #{data[55].count},#{data[56].count}, 
      #{data[57].count}, #{data[58].count}, #{data[59].count}, #{data[60].count}, #{data[61].count},
      #{data[62].count}, #{data[63].count},#{data[64].count}, #{data[65].count}, #{data[66].count}, 
      #{data[67].count}, #{data[68].count}, #{data[69].count}, #{data[70].count}, #{data[71].count}
      ]
      ]
      },
      axis: {
      x: {
      type: 'timeseries',
      tick: {
      format: '%H:%M',
      values:['00:00','06:00','12:00','18:00','23:00']
      }
      }
      }
      });
      });
      // Set a timeout so that we can ensure that the `chart` element is created.
      function onReady(selector, callback) {
      var intervalID = window.setInterval(function() {
      if (document.querySelector(selector) !== undefined) {
      window.clearInterval(intervalID);
      callback.call(this);
      }
      }, 500);
      }
      
      setTimeout(function () {
      chart.load({
      columns: [
      ['data3', 400, 500, 450, 700, 600, 500]
      ]
      });
      }, 1000);
      
  body
    | Welcome -----   
    .div4ahref
      a(href='#') Setting | &nbsp;&nbsp;
      a(href='#') Logout
    .div4analysisbtn
      form(method='get')
        button(type='submit',formaction='/analysis') Log Analysis
        button(type='submit',formaction='/hackanalysis') Hacking  Analysis
    .div4welcome
      span
        | Log analysis!
    .div4input
      form(method='get')
        button(type='button')   Event  number  
        button(type='button',onclick="show_ip()")    IP  Analysis  
        button(type='button',onclick="show_proto()") Protocol Analysis
        button(type='button',onclick="show_page()")  Page  Analysis  
        button(type='button',onclick="show_status()")  Status Analysis
        br
        br
        br
        br
    #chart
    .div4ahref
      a(href='#') Save as ".jpg" | &nbsp;&nbsp;
      a(href='#') Save as ".exec"
script.
    function show_ip() {
        window.location.href = '/analysis_ip';
        return false;
    }
    function show_proto() {
        window.location.href = '/analysis_proto';
        return false;
    }
    function show_page() {
        window.location.href = '/analysis_page';
        return false;
    }
    function show_status() {
        window.location.href = '/analysis_status';
        return false;
    }
      